.main-content {
    display: flex;
    flex-direction: column;
}

#left-anim {
    width:100%;
    height: 100%;
}

#rigth-anim {
    width:100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
    position: relative; /* Add this line */
}

header img {
    max-width: 100%;
    height: auto;
    max-height: 100px; /* Adjust the height as needed */
}

header h1 {
    margin: 0;
    font-size: 36px;
    margin-top: 10px; /* Adjust the margin as needed */
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
